<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://commbocc.github.io/html-wrapper/static/css/app.css">

  <title>{{ name }}</title>
</head>
<body>

  <div id="hc-main" class="d-flex flex-column">
    <header>
      <!-- https://www.w3.org/WAI/GL/2016/WD-WCAG20-TECHS-20160105/G1 -->
      <nav is="hc-navigation" logo-href="./" skip-content-link="#main-content"></nav>

      <ol is="hc-banner" title="{{ name }}">
        <!-- ancestors -->
        <li class="breadcrumb-item"><a href="./">Home</a></li>
      </ol>
    </header>

    <main id="main-content">
      <div id="app"></div>
    </main>

    <footer is="hc-footer" class="mt-auto"></footer>
  </div>

  <!-- Optional JavaScript -->
  <script type="text/javascript" src="https://commbocc.github.io/html-wrapper/static/js/manifest.js"></script>
  <script type="text/javascript" src="https://commbocc.github.io/html-wrapper/static/js/vendor.js"></script>
  <script type="text/javascript" src="https://commbocc.github.io/html-wrapper/static/js/app.js"></script>

  <script src="./dist/build.js"></script>
</body>
</html>
